# [Django Basic]
SECRET_KEY=django-insecure-key-for-dev-only
DEBUG=True


# [Database]
# 비워두면 자동으로 로컬 db.sqlite3를 사용합니다.
# DATABASE_URL=postgres://user:password@host:port/dbname


# [AI API Keys]
# 기능을 테스트하려면 유효한 키를 입력해야 합니다.
# GMS 전용 주소
GMS_BASE_URL="https://gms.ssafy.io/gmsapi/api.openai.com/v1"
GMS_API_KEY=
GMS_KEY=

# YOUTUBE API 키 (노래 검색용) 
YOUTUBE_API_KEY=


# [Social Login]
# 소셜 로그인 테스트 시 필요
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URI="http://localhost:5173/login/callback"

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_CALLBACK_URI="http://localhost:5173/login/kakao/callback"

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_CALLBACK_URI="http://localhost:5173/login/naver/callback"


# [Storage] (Optional)
SUPABASE_URL=
SUPABASE_KEY=